@font-face {
  font-family: "Radiant";
  src: url("./fonts/Radiant.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url("./images/webpack.svg");
  font-family: "Radiant";
}
